/*-- scss:defaults --*/

// importing fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway&display=swap');


$font-family-sans-serif: 'Open Sans', Tahoma, sans-serif !default;

$primary: #4c3ceb !default;

$font-size-root: 20px !important;

/*-- scss:rules --*/

h1, h2, h3, h4, h5 {
    font-family: "Raleway", "Tahoma", sans-serif !important;
}


/* Banner */
#banner h1 {
  font-size: 4rem !important;
  font-weight: 100;
  line-height: 1.2;
}

#banner h2 {
  font-size: 2rem !important;
  font-weight: 100;
  border: none;
}

#banner {
  background: $primary; 
  color: white; 
  padding-left: 40px; 
  padding-right: 40px; 
  background: linear-gradient($primary, #73737355),url('./images/banner-img.jpg') !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient($primary, #73737355), url('./images/banner-img.jpg') !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#banner h3 {
  font-size: 1.5rem !important;
  border-bottom: 3px solid #fff;
  line-height: 1.5;
}


/* about banner */

.about_banner, .title{
  padding-left: 1rem !important;
  padding-top: 3rem !important;
  padding-bottom: 1rem !important;
  margin-bottom: 1rem !important;
  background-color: $primary !important;
  color: #fff !important;
}

.about_banner, h1{
  font-size: 3rem;
  font-weight: 100;
}

/* Sponsors */
.sponsorsFooter{
  width: 100%;
  height: auto;
  padding: 10px 0 10px;
  margin-top: 0px;
  z-index: 1 !important;
  text-align: center !important;
}

.sponsorsFooter img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: auto;
  vertical-align: middle;
  max-width: 250px;
  margin: 1em;
  justify-content: center;
  align-items: center;
}



.sponsorsFooter ul {
  padding: 0;
  margin: 15px 0 0 0;
  list-style: none;
  display: block;
}

.sponsorsFooter ul.enter > span:not(.hover) {
  opacity: .1;
}

.sponsorsFooter ul.enter > span.hover {
  opacity: 1;
  box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, .1), inset 1px 0 0 0 rgba(0, 0, 0, .1);
}

.sponsorsFooter ul span {
  display: inline !important;
  background: white;
  word-break: break-all;
  word-wrap: break-word;
  margin: 0px;
  padding: 26px 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.sponsorsFooter ul span,
.sponsorsFooter ul span li > a {
  
  border: none !important;
  outline: 0 !important;
  text-decoration: none !important;
}

.sponsorsFooter ul li {
  margin: 5px 65px 0px;
  display: inline-block;
}

.navbar-logo {
  max-height: 50px;
  
}

.quarto-title-banner {
  padding-top: 2.5em;
  padding-bottom: 0em;
}
