```{=html}
<div class='sponsorsFooter'>
      <ul>
        <% for (const item of items) { %>
							<li><a href="<%- item.href %>" target="_blank" class="sblogos__link"><img class="sblogos__img" src="<%- item.thumbnail %>" alt="<%= item.name %> logo" /></a></li>
        <% } %>
      </ul>
    </div>
</div>
```